.project-badge {
  display: inline-block;
  font-weight: 500;
  padding: 0.35em 0.65em;
  font-size: 0.75em;
  border-radius: 0.25rem;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  margin-right: 0.3rem;
}